In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap
from env import user, password, host
from scipy.stats import levene, ttest_ind
from sklearn.ensemble import RandomForestClassifier
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix, ConfusionMatrixDisplay, plot_confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import MinMaxScaler
from sklearn.tree import DecisionTreeClassifier, plot_tree, export_text
import math
import numpy as np
import os
import pandas as pd
import requests
import seaborn as sns
import statsmodels.api as sm
import wrangle_campus as wc
import warnings
warnings.filterwarnings("ignore")

In [2]:
cs22 = pd.read_csv('CAMPUS_summary_22.csv')
cs21 = pd.read_csv('CAMPUS_summary_21.csv')
cs20 = pd.read_csv('CAMPUS_summary_20.csv')
cs19 = pd.read_csv('CAMPUS_summary_19.csv')
cs18 = pd.read_csv('CAMPUS_summary_18.csv')

# function takes in a dataset and returns a prepped dataframe ready to explore
def campus_prep(df):
    #rename the columns for ease of use with python omitting any capitilization and spaces
    df=df.rename(columns={'AGGREGATION LEVEL': 'agg_level',
                          'CAMPUS':'campus_number',
                          'REGION':'region',
                          'DISTRICT NAME AND NUMBER':'dist_name_num',
                          'CHARTER_STATUS':'charter_status',
                          'CAMPUS NAME AND NUMBER':'campus_name_num',
                          'SECTION': 'section',
                          'HEADING':'heading',
                          'HEADING NAME': 'heading_name',
                          'YR22':'student_count',
                          'YR21':'student_count',
                          'YR20':'student_count',
                          'YR19':'student_count',
                          'YR18':'student_count'})

    #maps the column charter_status, so that charter and tradfitional schools are numeric, 
    df['charter_encoded'] = df.charter_status.map({'OPEN ENROLLMENT CHARTER': 1, 
                                                       'TRADITIONAL ISD/CSD':0})
    
    #filters the dataset, so that only A01 and A03 are listed
    df=df[(df.heading == 'A01') | (df.heading ==  'A03') | (df.heading ==  'H06')]

    # filters out any student count that is -999 which is TEA's masked count
    df=df[df['student_count'] != '-999']

    #removes and replaces < that some student counts have
    df['student_count']= df['student_count'].str.replace("<", "")
    
    #changes data type to float
    df['student_count'] = df['student_count'].astype(float)
    
    #creates a pivot table with campus number as index and creating heading columns with student count and drops any nulls
    pivot=df.pivot(index='campus_number', columns='heading', values= 'student_count').dropna()

    #merges pivot table onto original df, but keeps the values of all the pivot table (insures that only schools that have both A01 and A03 are present)
    df=df.merge(pivot,how= 'right', on= 'campus_number')

    #renames A01 and A03
    df=df.rename(columns={'A01': 'student_enrollment', 'A03':'discipline_count', 'H06':'iss'})

    #creates a new column by dividing the discipline by enrolled
    df['discipline_percent']= ((df['discipline_count']/df['student_enrollment'])*100)

    #rounds the percent
    df=df.round({'discipline_percent': 0})

    # removes unnecessary columns
    df=df.drop(columns=['agg_level', 'campus_number', 'region', 'charter_status', 
                                'dist_name_num', 'student_count','section', 'heading',
                                'heading_name', 'student_count'])
    #removes any nulls
    df.dropna()

    #drops the duplicate rows that were created by the merge
    df=df.drop_duplicates()

    #reset the index
    df=df.reset_index(drop=True)
    
    #returns a fresh and prepped df
    return df

In [3]:
cs22=wc.campus_prep(cs22)
cs21=wc.campus_prep(cs21)
cs20=wc.campus_prep(cs20)
cs19=wc.campus_prep(cs19)
cs18=wc.campus_prep(cs18)

def df_combine(cs18,cs19,cs20,cs21,cs22):
    df=pd.concat([cs18,cs19,cs20,cs21,cs22], ignore_index=True)
    return(df)

In [4]:
df=wc.df_combine(cs18,cs19,cs20,cs21,cs22)

In [10]:
df.head(50)

,campus_name_num,charter_encoded,student_enrollment,discipline_count,iss,discipline_percent,iss_percent
0,ELKHART H S 001903001,0,411.0,205.0,173.0,50.0,42.0
1,ELKHART MIDDLE 001903041,0,298.0,151.0,138.0,51.0,46.0
2,ELKHART EL 001903101,0,379.0,11.0,11.0,3.0,3.0
3,ELKHART INT 001903102,0,276.0,151.0,146.0,55.0,53.0
4,PALESTINE H S 001907001,0,1044.0,582.0,463.0,56.0,44.0
5,STORY INT 001907110,0,815.0,248.0,217.0,30.0,27.0
6,WESTWOOD H S 001908002,0,462.0,275.0,182.0,60.0,39.0
7,SLOCUM H S 001909001,0,123.0,35.0,24.0,28.0,20.0
8,SLOCUM PK - 8 001909101,0,331.0,19.0,15.0,6.0,5.0
9,ANDREWS H S 002901001,0,1097.0,233.0,159.0,21.0,14.0
10,ANDREWS MIDDLE 002901041,0,992.0,622.0,370.0,63.0,37.0
11,UNDERWOOD EL 002901104,0,704.0,215.0,182.0,31.0,26.0
12,CLEARFORK EL 002901105,0,872.0,72.0,72.0,8.0,8.0
13,SARAH STRINDEN EL 003801103,1,556.0,92.0,68.0,17.0,12.0
14,HUDSON H S 003902001,0,856.0,348.0,212.0,41.0,25.0
15,HUDSON MIDDLE 003902041,0,718.0,322.0,263.0,45.0,37.0
16,LUFKIN H S 003903001,0,2235.0,947.0,485.0,42.0,22.0
17,LUFKIN MIDDLE 003903044,0,1848.0,1786.0,1025.0,97.0,55.0
18,BRANDON EL 003903121,0,482.0,87.0,67.0,18.0,14.0
19,SLACK EL 003903129,0,557.0,97.0,90.0,17.0,16.0
20,HUNTINGTON H S 003904001,0,535.0,149.0,110.0,28.0,21.0
21,HUNTINGTON MIDDLE 003904041,0,430.0,214.0,196.0,50.0,46.0
22,DIBOLL H S 003905001,0,513.0,110.0,79.0,21.0,15.0
23,DIBOLL J H 003905041,0,286.0,153.0,133.0,53.0,47.0
24,H G TEMPLE EL 003905101,0,559.0,42.0,40.0,8.0,7.0
25,H G TEMPLE INT 003905103,0,451.0,170.0,146.0,38.0,32.0
26,CENTRAL H S 003907001,0,454.0,152.0,92.0,33.0,20.0
27,CENTRAL J H 003907041,0,451.0,231.0,170.0,51.0,38.0
28,CENTRAL EL 003907102,0,725.0,49.0,25.0,7.0,3.0
29,ROCKPORT-FULTON H S 004901001,0,1029.0,484.0,243.0,47.0,24.0
30,ROCKPORT-FULTON MIDDLE 004901041,0,845.0,336.0,206.0,40.0,24.0
31,FULTON 4-5 LEARNING CENTER 004901101,0,548.0,149.0,85.0,27.0,16.0
32,LIVE OAK 1-3 LEARNING CENTER 004901103,0,832.0,95.0,59.0,11.0,7.0
33,HOLLIDAY H S 005902001,0,317.0,63.0,56.0,20.0,18.0
34,HOLLIDAY MIDDLE 005902041,0,268.0,72.0,68.0,27.0,25.0
35,HOLLIDAY EL 005902101,0,473.0,20.0,20.0,4.0,4.0
36,JOURDANTON H S 007902001,0,459.0,120.0,102.0,26.0,22.0
37,JOURDANTON J H 007902041,0,394.0,118.0,107.0,30.0,27.0
38,LYTLE J H 007904041,0,441.0,154.0,110.0,35.0,25.0
39,PLEASANTON H S 007905001,0,1053.0,648.0,524.0,62.0,50.0
40,PLEASANTON J H 007905041,0,844.0,546.0,436.0,65.0,52.0
41,PLEASANTON EL 007905103,0,1226.0,354.0,231.0,29.0,19.0
42,PLEASANTON PRI 007905105,0,757.0,48.0,27.0,6.0,4.0
43,POTEET H S 007906001,0,552.0,726.0,280.0,132.0,51.0
44,POTEET J H 007906041,0,419.0,228.0,63.0,54.0,15.0
45,BELLVILLE H S 008901001,0,732.0,704.0,512.0,96.0,70.0
46,BELLVILLE J H 008901041,0,529.0,226.0,104.0,43.0,20.0
47,O'BRYANT INT 008901102,0,301.0,89.0,66.0,30.0,22.0
48,SEALY H S 008902001,0,909.0,368.0,186.0,40.0,20.0
49,SEALY J H 008902041,0,620.0,176.0,119.0,28.0,19.0

In [11]:
train, validate, test= wc.split_campus_data(df)

In [12]:
train.head()

,campus_name_num,charter_encoded,student_enrollment,discipline_count,iss,discipline_percent,iss_percent
4629,HILL MIDDLE 015910059,0,1165.0,207.0,161.0,18.0,14.0
5028,EAST CHAMBERS H S 036903001,0,451.0,145.0,96.0,32.0,21.0
19247,KIPP VOYAGE ACADEMY FOR GIRLS 227820055,1,365.0,48.0,34.0,13.0,9.0
1767,BIRCH EL 092904104,0,744.0,170.0,91.0,23.0,12.0
10382,LA MESA EL 095905108,0,525.0,39.0,36.0,7.0,7.0

In [13]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10978 entries, 4629 to 587
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   campus_name_num     10978 non-null  object
 1   charter_encoded     10978 non-null  int64
 2   student_enrollment  10978 non-null  float64
 3   discipline_count    10978 non-null  float64
 4   iss                 10978 non-null  float64
 5   discipline_percent  10978 non-null  float64
 6   iss_percent         10978 non-null  float64
dtypes: float64(5), int64(1), object(1)
memory usage: 686.1+ KB

In [14]:
validate.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4706 entries, 18501 to 6024
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   campus_name_num     4706 non-null   object
 1   charter_encoded     4706 non-null   int64
 2   student_enrollment  4706 non-null   float64
 3   discipline_count    4706 non-null   float64
 4   iss                 4706 non-null   float64
 5   discipline_percent  4706 non-null   float64
 6   iss_percent         4706 non-null   float64
dtypes: float64(5), int64(1), object(1)
memory usage: 294.1+ KB

In [15]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3921 entries, 15018 to 18672
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   campus_name_num     3921 non-null   object
 1   charter_encoded     3921 non-null   int64
 2   student_enrollment  3921 non-null   float64
 3   discipline_count    3921 non-null   float64
 4   iss                 3921 non-null   float64
 5   discipline_percent  3921 non-null   float64
 6   iss_percent         3921 non-null   float64
dtypes: float64(5), int64(1), object(1)
memory usage: 245.1+ KB

In [16]:
train.head()

,campus_name_num,charter_encoded,student_enrollment,discipline_count,iss,discipline_percent,iss_percent
4629,HILL MIDDLE 015910059,0,1165.0,207.0,161.0,18.0,14.0
5028,EAST CHAMBERS H S 036903001,0,451.0,145.0,96.0,32.0,21.0
19247,KIPP VOYAGE ACADEMY FOR GIRLS 227820055,1,365.0,48.0,34.0,13.0,9.0
1767,BIRCH EL 092904104,0,744.0,170.0,91.0,23.0,12.0
10382,LA MESA EL 095905108,0,525.0,39.0,36.0,7.0,7.0

In [18]:
dfdp=(train.discipline_percent > 100)

In [19]:
dfdp

4629     False
5028     False
19247    False
1767     False
10382    False
         ...
8400      True
3891     False
1947     False
18708    False
587      False
Name: discipline_percent, Length: 10978, dtype: bool

In [46]:
df_filtered = df.loc[df['discipline_percent'] > 300]

In [47]:
df_filtered

,campus_name_num,charter_encoded,student_enrollment,discipline_count,iss,discipline_percent,iss_percent
2691,OZEN H S 123910004,0,1220.0,3790.0,1869.0,311.0,153.0
2694,SMITH MIDDLE 123910042,0,582.0,1913.0,971.0,329.0,167.0
4088,LIBERTY ACADEMY 235902006,0,253.0,780.0,568.0,308.0,225.0
4553,E T WRENN MIDDLE 015905044,0,685.0,2204.0,1287.0,322.0,188.0
5509,MESQUITE ACADEMY 057914656,0,63.0,349.0,267.0,554.0,424.0
7013,BEAUMONT UNITED H S 123910014,0,2400.0,11381.0,5656.0,474.0,236.0
7014,SMITH MIDDLE 123910042,0,625.0,2618.0,1458.0,419.0,233.0
7019,VINCENT MIDDLE 123910048,0,596.0,2373.0,1496.0,398.0,251.0
11166,SOUTH PARK MIDDLE 123910045,0,13.0,92.0,18.0,708.0,138.0
12489,LIBERTY CREDIT RECOVERY 235902006,0,326.0,1063.0,592.0,326.0,182.0
15205,REAGAN EL 221901120,0,15.0,88.0,31.0,587.0,207.0
18349,G W CARVER MIDDLE 161914048,0,484.0,1798.0,302.0,371.0,62.0

In [28]:
df_filtered.student_enrollment.max()

3475.0

In [29]:
max_sch=df_filtered.loc[df_filtered['student_enrollment']==3475]

In [30]:
max_sch

,campus_name_num,charter_encoded,student_enrollment,discipline_count,iss,discipline_percent,iss_percent
17305,DAVIS H S ALDINE 101902012,0,3475.0,4159.0,1508.0,120.0,43.0

In [39]:
charters=df_filtered[df_filtered['charter_encoded']==0]

In [38]:
charters

,campus_name_num,charter_encoded,student_enrollment,discipline_count,iss,discipline_percent,iss_percent
921,UPLIFT WILLIAMS PREPARATORY PRI 057803112,1,588.0,25.0,11.0,4.0,2.0
1843,KIPP ZENITH ACADEMY 101813114,1,866.0,27.0,17.0,3.0,2.0
2444,IDEA COLLEGE PREPARATORY MISSION 108807004,1,819.0,35.0,19.0,4.0,2.0
2989,HARMONY SCIENCE ACADEMY- FORT WORT 161807007,1,679.0,29.0,10.0,4.0,1.0
5268,UPLIFT SUMMIT INTERNATIONAL PRI 057803109,1,622.0,27.0,13.0,4.0,2.0
5277,TRINITY BASIN PREPARATORY 057813104,1,1545.0,66.0,26.0,4.0,2.0
5278,GOLDEN RULE CHARTER SCHOOL 057835001,1,867.0,32.0,16.0,4.0,2.0
5279,LA ACADEMIA DE ESTRELLAS 057839101,1,1127.0,46.0,28.0,4.0,2.0
5683,COMPASS ACADEMY CHARTER SCHOOL 068802001,1,1129.0,32.0,32.0,3.0,3.0
6765,IDEA COLLEGE PREP 108807001,1,773.0,27.0,16.0,3.0,2.0
6768,IDEA COLLEGE PREPARATORY ALAMO 108807007,1,753.0,31.0,23.0,4.0,3.0
6769,IDEA BROWNSVILLE COLLEGE PREPARATO 108807012,1,772.0,25.0,21.0,3.0,3.0
6773,IDEA BROWNSVILLE ACADEMY 108807112,1,724.0,20.0,11.0,3.0,2.0
6774,IDEA WESLACO PIKE ACADEMY 108807113,1,947.0,35.0,17.0,4.0,2.0
7326,HARMONY SCHOOL OF INNOVATION - CAR 161807004,1,585.0,24.0,11.0,4.0,2.0
8256,FOUNDERS CLASSICAL ACADEMY 221801043,1,961.0,42.0,13.0,4.0,1.0
8316,WAYSIDE REAL LEARNING ACADEMY 227803102,1,761.0,23.0,14.0,3.0,2.0
8618,MERIDIAN WORLD SCHOOL LLC 246801001,1,1677.0,60.0,33.0,4.0,2.0
8915,HARMONY SCHOOL OF INNOVATION - LAR 015828004,1,659.0,25.0,10.0,4.0,2.0
8922,SCHOOL OF SCIENCE AND TECHNOLOGY N 015831004,1,496.0,13.0,10.0,3.0,2.0
8923,SCHOOL OF SCIENCE AND TECHNOLOGY S 015831005,1,628.0,21.0,14.0,3.0,2.0
8924,BASIS SAN ANTONIO- PRI NORTH CENTR 015834002,1,819.0,14.0,14.0,2.0,2.0
9597,ADVANTAGE ACADEMY 057806101,1,1569.0,65.0,30.0,4.0,2.0
9605,INSPIRED VISION ACADEMY EL 057830001,1,791.0,33.0,22.0,4.0,3.0
10950,IDEA QUEST COLLEGE PREPARATORY 108807002,1,740.0,24.0,10.0,3.0,1.0
10951,IDEA COLLEGE PREPARATORY SAN BENIT 108807005,1,770.0,31.0,19.0,4.0,2.0
12862,SCHOOL OF SCIENCE AND TECHNOLOGY CORPUS CHRIST...,1,1881.0,46.0,20.0,2.0,1.0
12863,GREAT HEARTS NORTHERN OAKS 015835003,1,1446.0,31.0,20.0,2.0,1.0
13315,LIFE SCHOOL CEDAR HILL 057807104,1,557.0,23.0,21.0,4.0,4.0
13542,COMPASS ACADEMY CHARTER SCHOOL 068802001,1,1345.0,59.0,42.0,4.0,3.0
13553,OAK CLIFF FAITH FAMILY ACADEMY 070801002,1,2629.0,107.0,104.0,4.0,4.0
13861,HARMONY SCHOOL OF ADVANCEMENT-HOUSTON 101858004,1,729.0,22.0,12.0,3.0,2.0
15004,ARLINGTON CLASSICS ACADEMY -INTERMEDIATE 22080...,1,537.0,24.0,15.0,4.0,3.0
15006,NEWMAN INTERNATIONAL AT CEDAR HILL 220817002,1,1188.0,49.0,37.0,4.0,3.0
15249,WAYSIDE REAL LEARNING ACADEMY 227803102,1,644.0,23.0,17.0,4.0,3.0
15250,KIPP ACADEMY WEST MIDDLE 227820059,1,460.0,20.0,11.0,4.0,2.0
15406,MERIDIAN WORLD SCHOOL LLC 246801001,1,1747.0,71.0,32.0,4.0,2.0
15497,SARAH STRINDEN EL 003801103,1,510.0,18.0,12.0,4.0,2.0
15662,SCHOOL OF SCIENCE AND TECHNOLOGY NORTHWEST 015...,1,724.0,19.0,11.0,3.0,2.0
15663,BASIS SAN ANTONIO- SHAVANO CAMPUS 015834001,1,1001.0,22.0,14.0,2.0,1.0
16375,UPLIFT HEIGHTS PREPARATORY PRI 057803104,1,1006.0,25.0,10.0,2.0,1.0
16376,UPLIFT MERIDIAN SCHOOL 057803108,1,555.0,23.0,11.0,4.0,2.0
16386,TRINITY BASIN PREPARATORY INC 057813105,1,460.0,18.0,11.0,4.0,2.0
16388,A+ ACADEMY EL 057829001,1,905.0,28.0,14.0,3.0,2.0
16844,HARMONY SCHOOL OF EXCELLENCE - EL PASO 071806006,1,734.0,19.0,10.0,3.0,1.0
17826,IDEA ROUND ROCK TECH ACADEMY 108807300,1,616.0,22.0,22.0,4.0,4.0
18328,HARMONY SCHOOL OF INNOVATION - GRAND PRAIRIE 1...,1,501.0,17.0,17.0,3.0,3.0
18898,WESTLAKE ACADEMY 220810001,1,901.0,39.0,21.0,4.0,2.0
18899,NEWMAN INTERNATIONAL ACADEMY OF ARLINGTON 2208...,1,735.0,26.0,15.0,4.0,2.0

In [48]:
camelot=df[df['campus_name_num']=='CAMELOT EL 015910118']

In [49]:
camelot

,campus_name_num,charter_encoded,student_enrollment,discipline_count,iss,discipline_percent,iss_percent
307,CAMELOT EL 015910118,0,702.0,234.0,46.0,33.0,7.0
4643,CAMELOT EL 015910118,0,675.0,270.0,58.0,40.0,9.0
9019,CAMELOT EL 015910118,0,638.0,218.0,28.0,34.0,4.0
12912,CAMELOT EL 015910118,0,521.0,91.0,11.0,17.0,2.0
15753,CAMELOT EL 015910118,0,599.0,242.0,56.0,40.0,9.0